<a href="https://colab.research.google.com/github/PraveenKumarGarlapati/TextMining_Hospitality/blob/master/Creating%20a%20list%20of%20to-remove-words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [228]:
import pandas as pd
gcp = pd.read_excel('/content/GCP_Entity_SentLevel_IHG tags.xlsx', sheet_name = 'Sheet1')
gcp.head()

                                            Sentence  ... IHG Dictionary
0                                   comfortable room  ...            NaN
1                                     great location  ...            NaN
2                                    good facilities  ...            NaN
3  very good location great staff and great exper...  ...            NaN
4                                       refrigerator  ...            NaN

[5 rows x 9 columns]

In [0]:
#gcp1 = gcp[gcp.Type == 'B']
gcp1 = gcp

In [32]:
gcp1.head()

                                              Sentence  ... IHG Dictionary
170  we were on the 26th floor so all was peaceful ...  ...            NaN
268  only one thing to say is that all the bedroom ...  ...            NaN
270  no hot water one morning for our shower, expec...  ...            NaN
306                  location and parking availability  ...            NaN
308                     had a choice of pillows to use  ...            NaN

[5 rows x 9 columns]

In [0]:
def rem_punct(text):
  import string
  for i in string.punctuation:
    text = text.replace(i, "")
    return text

In [118]:
gcp1['rem_punc'] = gcp1['non entity word to remove'].map(str).apply(rem_punct)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [119]:
pd.DataFrame([i for i in gcp1['rem_punc'] if str(i) != 'nan'], columns = ['word']). \
word.apply(lambda x: x.split(",")).apply(pd.Series).stack().reset_index(name = 'word'). \
word.apply(lambda x: x.split(" ")).apply(pd.Series).stack().reset_index(name = 'word')

      level_0  level_1    word
0           0        0   Floor
1           1        0
2           1        1
3           2        0
4           2        1   House
...       ...      ...     ...
2824     1676        1  Pastry
2825     1676        2    Line
2826     1677        0  Coffee
2827     1677        1     Tea
2828     1677        2    Bags

[2829 rows x 3 columns]

In [230]:
pd.DataFrame([i for i in gcp1['Add to Dictionary'] if str(i) != 'nan'], columns = ['word']). \
word.apply(lambda x :x.replace(".",",")).apply(lambda x:x.split(",")).apply(pd.Series).stack(). \
reset_index(name = 'word').word.apply(lambda x: x.strip())

0       service
1         floor
2         thing
3        choice
4      nothings
         ...
143        sick
144         con
145        cons
146         pro
147        pros
Name: word, Length: 148, dtype: object

In [231]:
list1 = pd.DataFrame([i for i in gcp1['Add to Dictionary'] if str(i) != 'nan'], columns = ['word']). \
word.apply(lambda x :x.replace(".",",")).apply(lambda x:x.split(",")).apply(pd.Series).stack(). \
reset_index(name = 'word').word.apply(lambda x: x.strip())

list1

0       service
1         floor
2         thing
3        choice
4      nothings
         ...
143        sick
144         con
145        cons
146         pro
147        pros
Name: word, Length: 148, dtype: object

In [232]:
list1

0       service
1         floor
2         thing
3        choice
4      nothings
         ...
143        sick
144         con
145        cons
146         pro
147        pros
Name: word, Length: 148, dtype: object