In [0]:
#Importing the data
import pandas as pd
data = pd.read_excel('/content/US_IHG V4.xlsx', sheet_name = 'data')

In [0]:
#Split the Reviews. List of sentences
data['split_rev'] = data.REVIEW_TXT.apply(lambda x: x.split("."))

In [0]:
#Break down each sentence to rows 
#Creating a new ID for each of the sentence
data_s = data.set_index('HB_SOCIAL_INSIGHT_REVIEW_ID').split_rev.apply(pd.Series).stack().reset_index(name = 'Sentence')
data_s['ID_SID'] = data_s['HB_SOCIAL_INSIGHT_REVIEW_ID'] + "_" + (data_s['level_1'] + 1).map(str)

In [0]:
#Drop the unnecessary
data_s = data_s.drop(columns = 'level_1')

In [0]:
#Bring in the actual Review against each of the IDs
data_s1 = data_s.merge(data[['HB_SOCIAL_INSIGHT_REVIEW_ID','REVIEW_TXT']]).reindex(columns = ['HB_SOCIAL_INSIGHT_REVIEW_ID',
                                                                                'REVIEW_TXT','ID_SID','Sentence'])

In [15]:
data_s1

     HB_SOCIAL_INSIGHT_REVIEW_ID  ...                                           Sentence
0                BKG-20190696110  ...                                   Comfortable room
1                BKG-20190696110  ...                                     great location
2                BKG-20190696110  ...                                    good facilities
3               BKG-201909713799  ...  Very good location great staff and great exper...
4               BKG-201909713799  ...                                  Honestly nothings
...                          ...  ...                                                ...
1170             GGL-20190685608  ...   The breakfast was fine if you like a cooked b...
1171             GGL-20190685608  ...               Also the bananas were very over ripe
1172             GGL-20190685608  ...           And most importantly no de caff tea bags
1173             GGL-20190685608  ...    However overall a great stay for a decent price
1174             GGL-20190685608  ...

[1175 rows x 4 columns]

In [0]:
import spacy
nlp = spacy.load("en_core_web_sm")

def entities_spacy(text):
  text = nlp(text)
  ent_list = []
  for i in text.ents:
    ent_list.append((i.text, i.label_))
  return ent_list

In [25]:
data_s1['NER_spacy'] = data_s1.Sentence.apply(lambda x: entities_spacy(x))
data_s1

     HB_SOCIAL_INSIGHT_REVIEW_ID  ...            NER_spacy
0                BKG-20190696110  ...                   []
1                BKG-20190696110  ...                   []
2                BKG-20190696110  ...                   []
3               BKG-201909713799  ...  [(second, ORDINAL)]
4               BKG-201909713799  ...                   []
...                          ...  ...                  ...
1170             GGL-20190685608  ...                   []
1171             GGL-20190685608  ...                   []
1172             GGL-20190685608  ...                   []
1173             GGL-20190685608  ...                   []
1174             GGL-20190685608  ...                   []

[1175 rows x 5 columns]