<a href="https://colab.research.google.com/github/PraveenKumarGarlapati/TextMining_Hospitality/blob/master/Spacy_NounTags.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Importing the data
import pandas as pd
data = pd.read_excel('/content/US_IHG V4.xlsx', sheet_name = 'data')

In [0]:
#Split the Reviews. List of sentences
data['split_rev'] = data.REVIEW_TXT.apply(lambda x: x.split("."))

In [0]:
#Break down each sentence to rows 
#Creating a new ID for each of the sentence
data_s = data.set_index('HB_SOCIAL_INSIGHT_REVIEW_ID').split_rev.apply(pd.Series).stack().reset_index(name = 'Sentence')
data_s['ID_SID'] = data_s['HB_SOCIAL_INSIGHT_REVIEW_ID'] + "_" + (data_s['level_1'] + 1).map(str)

In [0]:
#Drop the unnecessary
data_s = data_s.drop(columns = 'level_1')

In [0]:
#Bring in the actual Review against each of the IDs
data_s1 = data_s.merge(data[['HB_SOCIAL_INSIGHT_REVIEW_ID','REVIEW_TXT']]).reindex(columns = ['HB_SOCIAL_INSIGHT_REVIEW_ID',
                                                                                'REVIEW_TXT','ID_SID','Sentence'])

In [7]:
data_s1.head()

  HB_SOCIAL_INSIGHT_REVIEW_ID  ...                                           Sentence
0             BKG-20190696110  ...                                   Comfortable room
1             BKG-20190696110  ...                                     great location
2             BKG-20190696110  ...                                    good facilities
3            BKG-201909713799  ...  Very good location great staff and great exper...
4            BKG-201909713799  ...                                  Honestly nothings

[5 rows x 4 columns]

In [0]:
import spacy
nlp = spacy.load("en_core_web_sm")

def entities_spacy(text):
  text = nlp(text)
  ent_list = []
  for i in text.ents:
    ent_list.append((i.text, i.label_))
  return ent_list

In [9]:
data_s1['NER_spacy'] = data_s1.Sentence.apply(lambda x: entities_spacy(x))
data_s1

     HB_SOCIAL_INSIGHT_REVIEW_ID  ...            NER_spacy
0                BKG-20190696110  ...                   []
1                BKG-20190696110  ...                   []
2                BKG-20190696110  ...                   []
3               BKG-201909713799  ...  [(second, ORDINAL)]
4               BKG-201909713799  ...                   []
...                          ...  ...                  ...
1170             GGL-20190685608  ...                   []
1171             GGL-20190685608  ...                   []
1172             GGL-20190685608  ...                   []
1173             GGL-20190685608  ...                   []
1174             GGL-20190685608  ...                   []

[1175 rows x 5 columns]

In [0]:
def pos_tag(a):
  a = nlp(a)
  list1 = []
  for i in a:
    list1.append((i, i.tag_))
  return list1

In [12]:
data_s1['POS_tags'] = data_s1.Sentence.apply(lambda x: pos_tag(x))
data_s1.head()

  HB_SOCIAL_INSIGHT_REVIEW_ID  ...                                           POS_tags
0             BKG-20190696110  ...                    [(Comfortable, JJ), (room, NN)]
1             BKG-20190696110  ...            [( , _SP), (great, JJ), (location, NN)]
2             BKG-20190696110  ...          [( , _SP), (good, JJ), (facilities, NNS)]
3            BKG-201909713799  ...  [(Very, RB), (good, JJ), (location, NN), (grea...
4            BKG-201909713799  ...        [( , _SP), (Honestly, RB), (nothings, VBZ)]

[5 rows x 6 columns]

In [0]:
def tags_n(POS_tags):
  list1 = []
  for (a,b) in POS_tags:
    if b in ["NN" , "NNS", "NNP","NNPS"]:
      list1.append(a)
  return list1

In [14]:
data_s1['tags_noun_Spacy'] = data_s1.POS_tags.apply(tags_n)
data_s1.head()

  HB_SOCIAL_INSIGHT_REVIEW_ID  ...                      tags_noun_Spacy
0             BKG-20190696110  ...                               [room]
1             BKG-20190696110  ...                           [location]
2             BKG-20190696110  ...                         [facilities]
3            BKG-201909713799  ...  [location, staff, experience, time]
4            BKG-201909713799  ...                                   []

[5 rows x 7 columns]

In [0]:
#Removes Stop words
from spacy.lang.en.stop_words import STOP_WORDS
def rem_stop_wrds(text):
  return " ".join(str(i) for i in nlp(a) if not i.is_stop)

In [0]:
#Removes stop words and lemmatizes
from spacy.lang.en.stop_words import STOP_WORDS
def rem_stop_wrds_lemma(text):
  return " ".join(i.lemma_ for i in nlp(a) if not i.is_stop)

In [0]:
#Gives the noun tags after removing stop words
from spacy.lang.en.stop_words import STOP_WORDS
nlp = spacy.load("en_core_web_sm")

def nounTags_remStopwords(text):
  a1 =  " ".join(str(i) for i in nlp(text) if not i.is_stop)
  #print(a1)

  #Creating POS Tags
  a = nlp(a1)
  list1 = []
  for i in a:
    list1.append((i, i.tag_))
  #print(list1)

  list2 = []
  for (a,b) in list1:
    if b in ["NN" , "NNS", "NNP","NNPS"]:
      list2.append(a)
  return list2

In [0]:
#Gives the noun tags after removing stop words and lemmatizing
from spacy.lang.en.stop_words import STOP_WORDS
nlp = spacy.load("en_core_web_sm")

def nounTags_remStopwords_lemma(text):
  a1 =  " ".join(i.lemma_ for i in nlp(text) if not i.is_stop)
  #print(a1)

  #Creating POS Tags
  a = nlp(a1)
  list1 = []
  for i in a:
    list1.append((i, i.tag_))
  #print(list1)

  list2 = []
  for (a,b) in list1:
    if b in ["NN" , "NNS", "NNP","NNPS"]:
      list2.append(a)
  return list2

In [0]:
data_s1['nountags_1'] = data_s1.Sentence.apply(nounTags_remStopwords)

In [0]:
data_s1['nountags_2'] = data_s1.Sentence.apply(nounTags_remStopwords_lemma)

In [53]:
data_s1.sample(5)

     HB_SOCIAL_INSIGHT_REVIEW_ID  ...                                        nountags_2
74              TAV-201909258407  ...  [’s, Times, Square, theater, restaurant, subway]
1002             GGL-20190685603  ...                                                []
56               GGL-20190696092  ...             [Time, Square, Panoramic, Room, View]
790             TAV-201909256707  ...    [Stayed, sister, mum, night, break, September]
710             TAV-201909259718  ...                          [spite, love, recommend]

[5 rows x 9 columns]